In [533]:
##########################################################################################
# DataFetcher
# AUTHOR: RUSLAN MASINJILA
##########################################################################################
import MetaTrader5 as mt5
import pandas as pd
import pandas_ta as ta
import matplotlib.pyplot as plt
import numpy as np
import time
import os

# NUMBER OF COLUMNS TO BE DISPLAYED
pd.set_option('display.max_columns', 500)

# MAXIMUM TABLE WIDTH TO DISPLAY
pd.set_option('display.width', 1500)      
 
# ESTABLISH CONNECTION TO MT5 TERMINAL
if not mt5.initialize():
    print("initialize() FAILED, ERROR CODE =",mt5.last_error())
    quit()

In [534]:
window = 50
rates_frame                            =  mt5.copy_rates_from_pos("EURUSD", mt5.TIMEFRAME_M5, 1, 1000)
rates_frame                            =  pd.DataFrame(rates_frame)

rates_frame["close_diff"]              =  rates_frame["close"].diff()
rates_frame["close_diff_mean"]         =  rates_frame["close_diff"].rolling(window).mean()
rates_frame["close_diff_std"]          =  rates_frame["close_diff"].rolling(window).std()
rates_frame["close_diff_upper_bound"]  =  rates_frame["close_diff_mean"]+2*rates_frame["close_diff_std"]
rates_frame["close_diff_lower_bound"]  =  rates_frame["close_diff_mean"]-2*rates_frame["close_diff_std"]



rates_frame["rsi50"]             =  ta.rsi(rates_frame["close"],length=window)

In [535]:
rates_frame

           time     open     high      low    close  tick_volume  spread  real_volume  close_diff  close_diff_mean  close_diff_std  close_diff_upper_bound  close_diff_lower_bound      rsi50
0    1655210100  1.04472  1.04532  1.04466  1.04478          944      11            0         NaN              NaN             NaN                     NaN                     NaN        NaN
1    1655210400  1.04478  1.04489  1.04418  1.04435         1100      11            0    -0.00043              NaN             NaN                     NaN                     NaN        NaN
2    1655210700  1.04437  1.04467  1.04425  1.04432          986      11            0    -0.00003              NaN             NaN                     NaN                     NaN        NaN
3    1655211000  1.04432  1.04455  1.04395  1.04416          832      11            0    -0.00016              NaN             NaN                     NaN                     NaN        NaN
4    1655211300  1.04416  1.04424  1.04324  1.04351          982      11            0    -0.00065              NaN             NaN                     NaN                     NaN        NaN
..          ...      ...      ...      ...      ...          ...     ...          ...         ...              ...             ...                     ...                     ...        ...
995  1655508600  1.04969  1.04975  1.04950  1.04960           76      11            0    -0.00009         0.000054        0.000366                0.000787               -0.000678  52.087503
996  1655508900  1.04960  1.04995  1.04960  1.04991           83      11            0     0.00031         0.000060        0.000368                0.000796               -0.000676  53.010337
997  1655509200  1.04991  1.04995  1.04940  1.04955          208      11            0    -0.00036         0.000053        0.000373                0.000798               -0.000692  51.827434
998  1655509500  1.04955  1.04992  1.04947  1.04991          195      11            0     0.00036         0.000062        0.000374                0.000811               -0.000686  52.899902
999  1655509800  1.04991  1.04991  1.04948  1.04961          203      11            0    -0.00030         0.000049        0.000375                0.000798               -0.000701  51.917052

[1000 rows x 14 columns]

In [536]:
#rates_frame["mean"] = rates_frame["close"].rolling(100).mean()
#rates_frame["std"] = rates_frame["close"].rolling(100).std()

In [537]:
#rates_frame["upper_bound"] = rates_frame["mean"]+2*rates_frame["std"]
#rates_frame["lower_bound"] = rates_frame["mean"]-2*rates_frame["std"]
#rates_frame=rates_frame.dropna().reset_index(drop=True)

In [538]:
#toPlot = pd.DataFrame()
#toPlot["close"] = rates_frame["close"]
#toPlot["mean"] = rates_frame["mean"]
#toPlot["upper_bound"] = rates_frame["upper_bound"]
#toPlot["lower_bound"] = rates_frame["lower_bound"]

In [539]:
#toPlot.tail(100).plot(style="*-")